:root{
  --goldColor:#D4AF37;
  --greenColor:#228B22;
  --beigeColor:#F5F5DC;
  --whiteColor:#ffffff;
}

html { scroll-behavior: smooth; }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Use Montserrat for headers */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 0.5em;
}


